
@font-face {
  font-family: 'IskoolaPota';
  src: url('IskoolaPota.eot?#iefix') format('embedded-opentype'),  url('IskoolaPota.woff') format('woff'), url('IskoolaPota.ttf')  format('truetype'), url('IskoolaPota.svg#IskoolaPota') format('svg');
  font-weight: normal;
  font-style: normal;
}
