
@font-face {
  font-family: 'MicrosoftHimalaya';
  src: url('MicrosoftHimalaya.eot?#iefix') format('embedded-opentype'),  url('MicrosoftHimalaya.woff') format('woff'), url('MicrosoftHimalaya.ttf')  format('truetype'), url('MicrosoftHimalaya.svg#MicrosoftHimalaya') format('svg');
  font-weight: normal;
  font-style: normal;
}
