/*---------- Подключаем шрифты ----------*/
/*---------- font-family: 'Circe', sans-serif; ----------*/
@font-face {
    font-family: 'Circe';
	src: url('../fonts/web/Circe-Light.woff') format('woff'),
    url('../fonts/web/Circe-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Circe';
	src: url('../fonts/web/Circe-Regular.woff') format('woff'),
    url('../fonts/web/Circe-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/web/Circe-Bold.woff') format('woff'),
    url('../fonts/web/Circe-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

/*---------- font-family: 'Proxima Nova Bold', sans-serif; ----------*/
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/web/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/web/ProximaNova-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/*---------- Основная разметка ----------*/
html {
	box-sizing: border-box;
}

body {
	font-family: 'Circe', Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #fff;
	/*max-width: 1400px;*/
	margin: 0 auto;
}

h1, h2 {
	font-family: 'Circe', Arial, sans-serif;
	font-style: normal;
	font-weight: bold;

	margin: 0;
}

a {
    text-decoration: none;
}

ul li {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	margin: 0 110px;
}

/*---------- Шапка и Первый блок ----------*/
.wrapper {
	background-image: url('../img/main-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #383838;

	padding-top: 40px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-wrapper {
	width: 334px;
}

.site-navigation {
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-navigation li a {
	font-size: 14px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;

	line-height: 1;
	display: inline-block;
	position: relative;
}

.site-navigation li a::after {
	display: block;
    content: "";
    height: 2px;
	width: 0%;
	left: 50%;
	position: absolute;
    background-color: #fff;
	transition: width .3s ease-in-out;
	transform: translateX(-50%);
}

.site-navigation li a:hover::after,
.site-navigation li a:focus::after {
	width: 100%;
}

.nav-phone-number {
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
}

.main-screen {
	text-align: center;
}

.main-screen h1 {
	font-size: 70px;
	letter-spacing: 7px;
	color: #fff;

	margin-top:300px;
	margin-bottom: 20px;
}

.underline {
	width: 80px;
	height: 1px;
	background-color: #fff;

	margin: 0 auto;
}

.main-screen p {
	font-size: 30px;
	letter-spacing: 2px;
	color: #fff;

	margin-bottom: 286px;
}

.scroll-down {
	padding-bottom: 66px;
}

/*---------- Второй блок ----------*/
.myWork,
.about-me,
.feedback {
	padding-top: 110px;
}

.myWork h2,
.about-me h2,
.feedback h2 {
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;

	text-align: center;
}

.myWork .underline,
.about-me .underline,
.feedback .underline {
	background-color: #640d0d;

	margin-top: 20px;
    margin-bottom: 40px;
}

.myWork-navigation {
	padding: 0;
	margin: 0 auto;
	max-width: 900px;

	display: flex;
	justify-content: space-evenly;

	margin-bottom: 40px;
}

.myWork-navigation li a {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #0c0b33;

	line-height: 1;
	display: inline-block;
	position: relative;
}

.myWork-navigation li a::after {
	display: block;
    content: "";
    height: 2px;
	width: 0%;
	left: 50%;
	position: absolute;
    background-color: #cc0033;
	transition: width .3s ease-in-out;
	transform: translateX(-50%);
}

.myWork-navigation li a:hover {
	color: #cc0033;
	transition: all .3s ease-in-out;
}

.myWork-navigation li a:hover::after,
.myWork-navigation li a:focus::after {
	width: 100%;
}

.myWork-flexContainer img,
.about-me img {
	max-width: 100%;
}

.myWork-grid-elements-1,
.myWork-grid-elements-2 {
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: center;
}

.myWork-grid-elements-1 li {
	margin: 0 10px 10px;
}

.myWork-grid-elements-2 li {
	margin: 10px 10px 0;
}

.myWork-grid-elements-1 li:first-child,
.myWork-grid-elements-2 li:first-child {
	margin-left: 0;
}

.myWork-grid-elements-1 li:last-child,
.myWork-grid-elements-2 li:last-child {
	margin-right: 0;
}

/* Modal Windows */
/* Базовые стили слоя затемнения и модального окна */
.overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	position: fixed;
	cursor: default;
	z-index: 10;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
	transition: all 0.6s;
}

.popup {
    position: fixed;

    background-color: rgb(180, 174, 174);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);

    width: 500px;
    height: 500px;

    padding: 10px;
	border: 1px solid #383838;

	z-index: 20;
}

.overlay:target + .popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-close {
    position: absolute;
	padding: 0;
	top: -10px;
	right: -10px;
	width: 22px;
	height: 22px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0px 0px 10px #000;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
    line-height: 20px;
    transition: all ease .8s;
}

.popup-close::before {
    color: rgba(255, 255, 255, 0.9);
	content: '\2715';
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	font-size: 12px;
}

.popup-close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(360deg);
}

.popup img {
	display: block;
	border: none;
	width: 100%;
	height: 100%;
}
/* /Modal Windows */

/*---------- Третий блок ----------*/
.about-me p {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 30px;
	color: #0c0b33;

	padding-right: 90px;
}

.about-me a {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 17px;
	color: #cc0033;

	border: 1px solid #cc0033;
	border-radius: 5px;

	padding: 10px 40px;
}

.about-me a:hover {
	background-color: rgba(204, 0, 51, 0.2);
	border: 1px solid #fff;
	border-radius: 5px;
	transition: all .2s linear;
}

.info-block {
	display: flex;
	justify-content: space-evenly;
}

.my-photo {
	margin-left: 110px;
}

.my-info {
	width: 40%;
	padding-top: 20px;
}

.download-link {
	margin-top: 60px;
}

/*---------- Четвертый блок ----------*/
.feedback {
	margin-bottom: 180px;
}
.feedback fieldset {
	width: 528px;
	height: 320px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 15px 30px rgba(54,57,171,0.1);

	margin: 0 auto;
}

.flex-form {
	
}

.form-element {
	
}

input[type="text"],
input[type="tel"] {
	width: 228px;
	height: 36px;

	border: 1px solid #b3b3c3;
}

input[type="email"] {
	width: 470px;
	height: 36px;

	border: 1px solid #b3b3c3;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
	color: #b3b3c3;
	font-weight: 300;
}

input[type="submit"] {
    font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 17px;
	color: #cc0033;
	background-color: #fff;

	border: 1px solid #cc0033;
	border-radius: 5px;

	padding: 10px 40px;

    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(204, 0, 51, 0.2);
	border: 1px solid #fff;
	border-radius: 5px;
	transition: all .2s linear;
}

/*---------- Footer ----------*/
footer {
	background-color: #0c0b33;
}

.main-footer {
	padding: 60px 0;
}

.main-footer-list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0;
	margin: 0;
}

.main-footer-list p {
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
}

.social {
	display: flex;
	justify-content: space-evenly;

	padding: 0;
	margin: 0;
}

.social li {
	padding-left: 14px;
}

.social li:first-child {
	padding-left: 7px;
}

/*---------- Адаптив ----------*/
@media screen and (max-width:1200px) {
	
}

@media screen and (max-width:1024px) {
	
}

@media screen and (max-width:992px) {
	
}

@media screen and (max-width:768px) {
	
}

@media screen and (max-width:590px) {
	
}

@media screen and (max-width:440px) {
	
}

@media screen and (max-width:320px) {
	
}