/*---------- Подключаем шрифты ----------*/
/*---------- font-family: 'Circe Light', sans-serif; ----------*/
@font-face {
    font-family: 'Circe Light';
	src: url('../fonts/web/Circe-Light.woff') format('woff'),
    url('../fonts/web/Circe-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/*---------- font-family: 'Circe Regular', sans-serif; ----------*/
@font-face {
    font-family: 'Circe Regular';
	src: url('../fonts/web/Circe-Regular.woff') format('woff'),
    url('../fonts/web/Circe-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/*---------- font-family: 'Circe Bold', sans-serif; ----------*/
@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/web/Circe-Bold.woff') format('woff'),
    url('../fonts/web/Circe-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/*---------- font-family: 'Proxima Nova Bold', sans-serif; ----------*/
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/web/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/web/ProximaNova-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/*------- Класс для скрытия элементов разметки -----*/
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

#check-menu {
	display: none;
}

/*---------- Основная разметка ----------*/
html {
	box-sizing: border-box;
}

body {
	font-family: 'Circe Regular', sans-serif;
	font-weight: normal;
	background-color: #fff;
	max-width: 1400px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}

h1, h2 {
	font-family: 'Circe Bold', sans-serif;
	font-weight: normal;
}

.container,
.wrapper {
	margin: 0 110px;
	/*border: 1px solid #000;*/
}

/*---------- Шапка ----------*/
.main-header {
	
}

.main-header-logo {
	
}

.main-header-logo p {
	
}

.main-header-logo span {
	
}

.main-header-logo a {
	
}

.main-header-logo a:hover,
.main-header-logo a:focus {
	
}

.main-navigation {
	
}

.site-navigation {
	
}

.site-navigation li {
	
}

.site-navigation li:last-child {
	
}

.site-navigation li a {
	
}

.site-navigation li a:hover,
.site-navigation li a:focus {
	
}

.site-navigation li a.active {
	
}

/*---------- Первый блок ----------*/
.wrapper {
	background-image: url('../img/');
	background-repeat: no-repeat;
}

/*---------- Второй блок ----------*/

input[type="text"],
input[type="tel"] {
	
}

input[type="submit"] {
	
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	transition: all 0.2s linear;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder {
	
}

/*---------- Третий блок ----------*/


/*---------- Четвертый блок ----------*/


/*---------- Пятый блок ----------*/


/*---------- Footer ----------*/
footer {
	
}

.main-footer-list,
.social,
.users,
.contact-us {
	
}

.main-footer-list {
	
}

.main-footer-list>li {
	
}

.main-footer-list>li:last-child {
	
}

.main-footer-list p {
	
}

.social {
	
}

.social>li {
	
}

.contact-icon {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 15px;
}

.contact-us a {
	
}

.contact-us a:hover,
.contact-us a:focus {
	
}

/*---------- Адаптив ----------*/
@media screen and (max-width:1024px) {
	
}

@media screen and (max-width:900px) {
	
}

@media screen and (max-width:480px) {
	/*----- Бургер-меню -----*/
	.menu-wrapper {
		width: 180px;
		height: 40px;
		position: relative;
		margin-top: 30px;
		margin-right: 30px;
	}

	label {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 2;
	}

	.burger-menu-line {
		position: absolute;
		top: 8px;
		right: 0;
		width: ;
		height: ;
		background-color: ;
		transition: 0.5s all;
	}

	.dos,
	.tres {
		top: 18px;
	}

	.cuatro {
		top: 28px;
	}

	.main-navigation {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		max-height: 0;
		font-size: 0;
		overflow: hidden;
		transition: 0.5s all;
	}

	.site-navigation {
		display: block;
	}

	.site-navigation li,
	.site-navigation li:last-child {
		margin-right: 0;
	}

	.site-navigation li a {
		display: block;
		width: 100%;
		text-align: right;
		padding-top: 5px;
	}

	.site-navigation li a:hover,
	.site-navigation li a.active:hover,
	.site-navigation li a:focus {
		background-color: transparent;
		border-radius: 0;
		padding: 0;
		color: #ffc61a;
		transition: all 0.2s linear;
	}

	.site-navigation li a.active {
		background-color:transparent;
		border-radius: 0;
		padding: 0;
		color: #fff;
	}

	#check-menu:checked ~ .main-navigation {
		max-height: 400px;
	}

	#check-menu:checked ~ .uno {
		display: none;
	}

	#check-menu:checked ~ .dos {
		transform: rotate(45deg);
	}

	#check-menu:checked ~ .tres {
		transform: rotate(-45deg);
	}

	#check-menu:checked ~ .cuatro {
		display: none;
	}
	/*----------*/
	
}

@media screen and (max-width:320px) {
	
}