/* ------- Класс для скрытия элементов разметки ----- */

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
 	}
 
/* ------- /Класс для скрытия элементов разметки ----- */
 
/* ---------- Основная разметка ---------- */
	html {
		box-sizing: border-box;
	}

	body {
		font-family: "Roboto", serif;
	}

	.content {
		max-width: 1200px;
		margin: 0 auto;
	}






@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/roboto.woff") format("woff"),
    url("../fonts/web/roboto.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/robotobold.woff") format("woff"),
    url("../fonts/web/robotobold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/robotomedium.woff") format("woff"),
    url("../fonts/web/robotomedium.woff2") format("woff2");
    font-style: normal;
    font-weight: medium;
}