/* ------- Класс для скрытия элементов разметки ----- */

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
 	}
 
/* ------- /Класс для скрытия элементов разметки ----- */
 
/* ---------- Основная разметка ---------- */

	.container {
		border: 2px solid red;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}

	html {
		box-sizing: border-box;
	}

	body {
		font-family: "Roboto", serif;
		background-color: #839d8f;
		min-width: 900px;
		max-width: 1200px;
		margin: 0 auto;
		border: 1px solid black;
	}

	header,
	nav {
		display: flex;
	}

	nav {
		align-items: center;
	}






@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/roboto.woff") format("woff"),
    url("../fonts/web/roboto.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/robotobold.woff") format("woff"),
    url("../fonts/web/robotobold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/robotomedium.woff") format("woff"),
    url("../fonts/web/robotomedium.woff2") format("woff2");
    font-style: normal;
    font-weight: medium;
}