@media screen and (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }
  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header__search {
    padding-bottom: 8px;
  }
  .header__date {
    font-size: 60px;
    span {
      font-size: 14px;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }
  .header__arrows {
    left: 130px;
  }
  .surf-box__inner {
    min-height: 650px;
  }
}

@media screen and (max-width: 1366px) {
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px; //auto; //100%;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
  }
  .menu {
    padding-top: 0;
  }
  .menu__list {
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .header__search {
    padding: 33px 15px 15px;
  }
  .header__date {
    padding: 15px;
  }
  .header__location {
    margin-top: 42px;
  }
  .slider-item__info-title {
    font-size: 65px;
  }
  .header__arrows {
    left: 38px;
  }
  .shop__slider-content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1340px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
  .slider-arrows {
    top: 20px;
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
}

@media screen and (max-width: 1287px) {
  .slider-map .slick-list {
    overflow: hidden;
  }
  .slider-map-dots__circle {
    box-shadow: none;
  }
}

@media screen and (max-width: 1250px) {
  .slider-map {
    max-width: 1000px;
    min-height: 515px;
  }
  .slider-map .slick-list {
    min-height: 515px;
  }
  .slider-dots--1 {
    top: 266px;
  }
  .slider-dots--2 {
    top: 232px;
  }
  .slider-dots--3 {
    top: 253px;
  }
  .slider-dots--4 {
    top: 390px;
  }
  .slider-dots--5 {
    top: 180px;
  }
  .slider-dots--6 {
    top: 440px;
    left: -85px;
  }
  .slider-dots--7 {
    top: 310px;
    left: -85px;
  }
  .slider-dots--8 {
    top: 397px;
  }
  .shop__slider-info {
    padding-top: 120px;
  }
  .shop__slider-price {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1150px) {
  .surf,
  .holder {
    padding: 80px 0 60px;
  }
  .holder-slider__descr {
    padding: 160px 0 0 20px;
  }
  .shop__slider {
    padding-left: 20px;
  }
  .shop__slider-inner {
    display: block;
  }
  .shop__slider-info {
    max-width: 100%;
    padding-bottom: 50px;
  }
  .shop .shop__slider-info {
    padding-top: 60px;
  }
  .surfboard__pos--3 .surfboard-box__content {
    left: 60px;
    padding-right: 0;
    padding-left: 104px;
    &::before {
      right: auto;
      left: 0;
    }
  }
}

@media screen and (max-width: 1102px) {
  .slider-map {
    background-image: none;
    max-width: 100%;
    min-height: 280px;
    .slick-list {
      overflow: hidden;
      min-height: 280px;
    }
  }
  .slider-map-dots__circle {
    display: none;
  }
  .slider-map-dots__content {
    display: block;
    transform: translateX(0);
    width: 285px;
    padding: 28px 31px 0 32px;
    &::before {
      display: none;
    }
  }
  .slider-map-dots {
    position: static;
  }
  .slider-dots--8 .slider-map-dots__content {
    transform: translateX(0);
  }
  .surf .slick-track {
    min-height: 280px;
  }
  .slider-map .slick-current .slider-map-dots__content {
    background: rgba(#ccc, 0.2);
  }
}

@media screen and (max-width: 1040px) {
  .header__arrows {
    bottom: 5px;
  }
  .menu {
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all linear 0.3s;
    &.visible {
      transform: translateY(0);
    }
  }
  .menu-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: -130px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &__inner {
      width: 40px;
    }
    &__line {
      height: 5px;
      background-color: rgba($green, 0.3);
      + .menu-btn__line {
        margin-top: 5px;
      }
    }
  }
  .header__search {
    padding: 40px 15px 15px;
  }
  .slider-item__info {
    right: 20px;
    bottom: 50px;
  }
  .slider-item__info-title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slider-item__info-subtext {
    margin-bottom: 5px;
  }
  .slider-dots {
    right: 0;
    bottom: 5px;
    max-width: 830px;
  }
  .dots-box {
    width: 170px;
  }
  .surf__subtitle {
    padding-right: 20px;
  }
  .holder-slider {
    &__info {
      display: block;
      &-subtitle {
        position: static;
        transform: rotate(0deg);
        height: auto;
        text-align-last: left;
      }
      &-item {
        min-height: auto;
        margin-bottom: 22px;
        padding-left: 20px;
      }
      &-title {
        padding-left: 0;
        .holder-pricing__span {
          right: unset;
          left: 0;
        }
      }
    }
    &__descr {
      background-position: right -118px;
    }
  }
  .holder {
    &.sleep {
      .holder-slider__descr {
        background-position: right 0;
        background-size: auto;
      }
    }
  }
  .holder-slider__subtitle {
    padding: 20px 80px 0 0;
  }
  .quantity-button.quantity-down {
    right: auto;
  }
  .quantity-button.quantity-up {
    right: auto;
    left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .header__arrows {
    bottom: 5px;
  }
  .slider-dots {
    right: 0;
    bottom: 5px;
    max-width: 400px; //670px;
  }
  .dots-box {
    width: 170px;
  }
  .surfboard-box__content {
    width: 300px;
    left: 30px;
    padding-left: 30px;
    &::before {
      width: 20px;
    }
  }
  .surfboard__pos--3 .surfboard-box__content {
    width: 300px;
    left: 30px;
    padding-left: 30px;
    &::before {
      width: 20px;
    }
  }
}

@media screen and (max-width: 720px) {
  .title {
    span {
      font-size: 140px;
      padding-bottom: 80px;
    }
  }
  .surf-slider {
    padding-top: 65px;
    .slider-arrows {
      top: 20px;
    }
  }
  .holder-slider {
    &__head {
      min-height: 720px;
    }
    &__subtitle {
      padding: 80px 20px 0 0;
    }
    &__descr {
      background-position: right -100px;
      .descr__head {
        font-size: 32px;
      }
    }
    &__info-subtitle {
      font-size: 16px;
    }
    &__info-title {
      font-size: 32px;
    }
  }
  .holder {
    .title {
      span {
        padding-bottom: 0;
      }
    }
    .slider-arrows {
      top: 200px;
    }
    .headline-right {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .subtitle__head {
    font-size: 32px;
    padding-right: 0;
  }
  .holder {
    &.sleep {
      .holder-slider__descr {
        background-size: 360px;
      }
    }
  }
  .surfboard-box__content {
    width: 270px;
    left: 0;
    top: 35px;
    padding-left: 0;
    &::before {
      display: none;
    }
  }
  .surfboard__pos--3 .surfboard-box__content {
    width: 270px;
    left: 0;
    top: 35px;
    padding-left: 0;
  }
  .surfboard__pos--1 {
    .surfboard-box__content {
      left: -177px;
    }
  }
  .shop__extras {
    padding-left: 75px;
  }
}

@media screen and (max-width: 680px) {
  .shop__slider-content {
    display: block;
  }
  .shop__extras {
    padding-left: 0;
    padding-top: 35px;
  }
  .surfboard__pos--1 {
    left: 155px;
  }
}

@media screen and (max-width: 520px) {
  .headline-left {
    letter-spacing: 2.33333px;
  }
  .subtitle__head {
    font-size: 32px;
    padding-right: 0;
  }
  .holder-slider__descr {
    background-image: none !important;
  }
}

@media screen and (max-width: 460px) {
  .surf,
  .holder {
    padding: 40px 0 30px;
  }
  .header__aside {
    display: block;
    background-color: transparent;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.25);
    height: 100vh;
  }
  .header__title {
    display: none;
  }
  .header__search {
    padding: 15px 38px;
  }
  .header__date {
    padding: 0;
    padding-left: 20px;
  }
  .header__location {
    margin-top: 18px;
    padding-left: 25px;
    &::before {
      left: 10px;
    }
  }
  .menu-btn {
    top: 0;
    left: 125px;
  }
  .menu {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    &.visible {
      transform: translateX(0);
    }
  }
  .slider-item__info-title {
    font-size: 40px;
  }
  .header__arrows {
    // left: 20px;
    // bottom: 40px;
    display: none;
  }
  .slider-dots {
    // width: auto;
    // max-width: 190px;
    display: none;
  }
  .header__map svg {
    width: 370px;
    height: 270px;
  }
  .slider-item__info {
    bottom: 20px;
  }
  .holder {
    .title {
      span {
        font-size: 90px;
      }
    }
  }
  .holder-slider__descr .descr__head img {
    right: 20px;
  }
  .btn {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .slider-map .slider-map-dots__content,
  .slider-map .slick-current .slider-map-dots__content {
    width: 250px;
    padding: 28px 15px 0;
  }
  .holder-slider__descr .descr__head .holder__star-list {
    position: static;
    margin-left: -15px;
  }
}

@media screen and (max-width: 374px) {
  .slider-map .slider-map-dots__content,
  .slider-map .slick-current .slider-map-dots__content {
    width: 200px;
    padding: 28px 10px 0;
  }
  .title {
    span {
      font-size: 90px;
    }
    h3 {
      font-size: 70px;
    }
  }
  .holder {
    background-size: 280px;
    &.sleep {
      background-size: 180px;
    }
  }
  .footer {
    padding: 160px 0 34px;
  }
  .shop__extras-inner {
    display: block;
  }
  .shop__extras-box {
    margin-right: 0;
  }
  .shop__extras-title {
    text-align: center;
  }
  .shop__extras-box img {
    display: unset;
  }
  .surfboard__pos--3 .surfboard-box__content {
    width: 200px;
  }
}
