/*---------- Подключаем шрифты ----------*/
/*---------- font-family: 'Ubuntu', sans-serif; ----------*/

@font-face {
    font-family: 'Ubuntu';
	src: url('../fonts/web/Ubuntu-Light.woff') format('woff'),
    url('../fonts/web/Ubuntu-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
	src: url('../fonts/web/Ubuntu-Bold.woff') format('woff'),
    url('../fonts/web/Ubuntu-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/web/Ubuntu-Regular.woff') format('woff'),
    url('../fonts/web/Ubuntu-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/*---------- Основная разметка ----------*/
html {
	box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
	background-color: #fff;
	max-width: 1400px;
	margin: 0 auto;
}

h1 {
	font-weight: 300;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	margin: 0 200px;
}

/*---------- Шапка и Первый блок ----------*/


/*---------- Второй блок ----------*/


/*---------- Третий блок ----------*/


/*---------- Четвертый блок ----------*/


/*---------- Footer ----------*/
footer {
	
}



/*
@font-face {
    font-family: 'Ubuntu Light';
	src: url('../fonts/web/Ubuntu-Light.woff') format('woff'),
    url('../fonts/web/Ubuntu-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
	src: url('../fonts/web/Ubuntu-Bold.woff') format('woff'),
    url('../fonts/web/Ubuntu-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../fonts/web/Ubuntu-Regular.woff') format('woff'),
    url('../fonts/web/Ubuntu-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
*/