/* ---------- Подключаем шрифты ---------- */
/* ---------- font-family: 'Lato', sans-serif; ----------*/
@font-face {
    font-family: "Lato";
	src: url('../fonts/web/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/web/Lato/Lato-Regular.woff') format('woff'),
    url('../fonts/web/Lato/Lato-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
	src: url('../fonts/web/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/web/Lato/Lato-Black.woff') format('woff'),
    url('../fonts/web/Lato/Lato-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
}
/* ---------- font-family: 'BebasNeue', sans-serif; ----------*/
@font-face {
    font-family: "bebasneue";
    src: url("../fonts/web/bebasneue/bebasneueregular.woff") format("woff"),
    url("../fonts/web/bebasneue/bebasneueregular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "bebasneue";
    src: url("../fonts/web/bebasneue/bebasneuebold.woff") format("woff"),
    url("../fonts/web/bebasneue/bebasneuebold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}




/* ------- Класс для скрытия элементов разметки ----- */
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/* ---------- Основная разметка ---------- */
html {
	box-sizing: border-box;
	background-color: #464646;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background-color: #ffc61a;
	min-width: 900px;
	max-width: 1600px;
	margin: 0 auto;
	box-shadow: 0 0 40px #daa505;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.tariffs,
.about-app {
	background-color: #fff;
}

.container {
	margin: 0 200px;
}

/* ---------- Шапка ---------- */
.main-header {
	display: flex;
	justify-content: space-between;
	margin-left: 80px;
	/*margin-top: 40px;*/
}

.main-header-logo {
	font-size: 40px;
	margin-top: 40px;
}

.main-header-logo p {
	font-weight: 900;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	margin-top: 0;
}

.main-header-logo span {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #daa505;
}

.main-header-logo a {
	text-decoration: none;
	color: #fff;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
	color: #daa505;
	transition: all 0.2s linear;
}

.main-navigation {
	margin-top: 40px;
}

.site-navigation {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.site-navigation li {
	margin: 0 20px;
}

.site-navigation li:last-child {
	margin-right: 100px;
}

.site-navigation li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
}

.site-navigation li a:hover,
.site-navigation li a:focus {
	background-color: #ffc61a;
	border-radius: 24px;
	padding: 9px 24px;
	color: #010101;
	transition: all 0.2s linear;
}

/* ---------- Первый блок ----------*/
.wrapper {
	background-image: url('../img/header-bg.webp');
	background-repeat: no-repeat;
}

.phone-number {
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	margin-top: 0;
	margin-bottom: 20px;
}

.main-hero h1 {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #ffc61a;
	margin-bottom: 10px;
}

.main-hero p.link {
	font-size: 20px;
	text-align: center;
}

p.link a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 16px;
	color: #fff;
}

p.link a:hover,
p.link a:focus {
	color: #ffc61a;
	transition: all 0.2s linear;
}

.main-hero img {
	max-width: 100%;
}

.main-taxi {
	margin-top: 60px;
}

.main-cab {
	display: block;
	margin: auto;
}

/* ---------- Второй блок ----------*/
.about-and-booking-form {
	background-color: #ffc61a;
	background-size: cover;
}

.about-and-booking-form .container {
	display: flex;
}

.about {
	max-width: 50%;
	margin-bottom: 60px;
}

.about h1 {
	font-size: 35px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 16px;
}

.about h2 {
	font-size: 50px;
	/*line-height: 38px;*/
	text-transform: uppercase;
	color: #101010;
	margin-top: 0;
}

.about p {
	font-size: 18px;
	color: #010101;
	padding-right: 40px;
	padding-bottom: 40px;
}

.about a {
	font-family: 'BebasNeue', sans-serif;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: normal;
	text-transform: uppercase;
	text-decoration: none;
	padding: 9px 30px;
	color: #fff;
	background-color: #000;
	border-radius: 10px;
}

.about a:hover,
.about a:focus {
	background-color: gray;
	color: #ffc61a;
	transition: all 0.2s linear;
}

.booking-form {
	margin-left: 130px;
}

.booking-form form {
	background-color: #fff;
}

.booking-form h1 {
	font-size: 34px;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	padding:25px 0 25px 38px;
	margin-bottom: 0;
}

.booking-form h1 span {
	color: #ffc61a;
}

.booking-form fieldset {
	border: none;
}

input[type="text"],
input[type="tel"] {
	max-width: 140px;
	border: none;
	border-bottom: 2px solid #e4e4e4;
	padding: 12px;
	margin: 10px;
}

input[type="submit"] {
	width: 100%;
	border: none;
	font-family: 'BebasNeue', sans-serif;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: normal;
	text-transform: uppercase;
	text-decoration: none;
	padding: 9px 30px;
	margin-top: 32px;
	color: #fff;
	background-color: #000;
	border-radius: 10px;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: gray;
	color: #ffc61a;
	transition: all 0.2s linear;
}