/*------- Класс для отображения боковых границ основного блока -----*/	
	.co1ntent {
		border-right: 1px solid #000; border-left: 1px solid #000;
	}
/* ------- Класс для отображения боковых границ основного блока ----- */

/* ------- Класс для скрытия элементов разметки ----- */

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
 	}
 
/* ------- /Класс для скрытия элементов разметки ----- */
 
/* ---------- Основная разметка ---------- */
	html {
		box-sizing: border-box;
	}

	body {
		background-color: #fff;
	}

	.content {
		max-width: 1200px;
		margin: 0 auto;
	}
/* Временно для разметки */
	/*
	.header-container {
		border: 2px solid red;
	}

	.main_header-logo,
	.main_menu,
	.main_foto {
		border: 2px solid green;
	}

	.flex-item-1 {
		border: 2px solid #970e09;
	}

	.flex-item-2 {
		border: 2px solid #970e06;
	}

	.flex-item-3 {
		border: 2px solid #970e03;
	}

	.flex-item-4 {
		border: 2px solid #970e00;
	}

	.privacy,
	.social,
	.social-icons {
		border: 1px solid lightseagreen;
	}

	.subscribe,
	.subscribe-img {
		border: 2px solid mediumslateblue;
	}

	section {
		border: 2px solid orange;
	}

	article {
		border: 2px solid yellowgreen;
	}

	h1, h3, p {
		border: 1px solid slateblue;
	}

	footer {
		border: 2px solid black;
	}

	.footer-flex {
		border: 2px dotted darkblue;
	}
	
/* /Временно для разметки */

/* ---------- Шапка, навигация ---------- */

	.main_header-logo {
		font-family: "Inconsolata", monospace;
		font-size: 30px;
		letter-spacing: 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: #000;
		margin: 70px auto 70px 70px;
	}

	.main_header-logo a {
		text-decoration: none;
		color: #000;
	}

	.main_header-logo a:hover {
		color: #000;
	}

	.main_menu li  {
		font-family: "Playfair Display", serif;
		font-size: 14px;
		text-transform: uppercase;
		list-style-type: none;
		color: #626262;
		margin: 0 70px 0 70px;
	}
	
	.main_menu li a {
		text-decoration: none;
		color: #626262;
	}

	.main_menu li a:hover {
		text-decoration: none;
		color: #bbb7db;
	}

	.main_foto {
		margin: 0 70px 50px 70px;
	}

	.main_foto img {
		max-width: 100%;
	}

/* ---------- /Шапка, навигация ---------- */

/* ---------- Шапка, навигация flex ---------- */
	
	.header-container {
		/*height: 160px;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.main_menu {
		display: flex;
		flex-wrap: wrap;
	}

/* ---------- /Шапка, навигация flex ---------- */
	
/* ---------- Первый блок: основной пост ---------- */
	
	/* ---------- Делаем элемент черно-белым ---------- */
	.grayscale { 
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
		filter: gray; /* IE 6-9 */
		-webkit-filter: grayscale(1);
		transition: all 0.2s linear;
	}
	/* ---------- /Делаем элемент черно-белым ---------- */
	/* ---------- Делаем элемент цветным принаведении курсора ---------- */
	.grayscale:hover { 
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: none;
		-webkit-filter: grayscale(0);
	}
	/* ---------- /Делаем элемент цветным принаведении курсора ---------- */

	.main_post {
		max-width: 900px;
		min-width: 320px;
		margin: 0 150px;
	}

		.main_post h3 {
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			font-size: 14px;
			text-transform: uppercase;
			color: #b4ad9e;
			margin: 50px auto 30px auto;
		}

		.main_post h1 {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 30px;
			color: #626262;
			margin: 0 auto 50px auto;
		}

		.main_post p {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.6;
			color: #626262;
		}

		.comment {
			font-size: 14px;
			margin: 50px auto 120px auto;
		}

			.comment>a {
				font-family: "Ubuntu", sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				text-decoration: none;
				color: #b4ad9e;
			}

			.comment>a:hover {
				text-decoration: none;
				color: #bbb7db;
			}
/* ---------- /Первый блок: основной пост ---------- */

/* ---------- Второй блок: сетка, форма подписки ---------- */

	.flex-container {
		display: flex;
		flex-flow: column nowrap;
	}

	.flex-item-1,
	.flex-item-2 {
		order: -1;
	}

	.flex-item-4 {
		order: 0;
	}

	.flex-item-3 {
		order: 1;
	}

	.first-row,
	.second-row,
	.third-row {
		max-width: 900px;
		margin-bottom: 120px;
		display: flex;
		justify-content: space-between;
	}

	.first-row article,
	.second-row article,
	.third-row article {
		 width: 420px;
	}

	.first-row img,
	.second-row img,
	.third-row img {
		max-width: 100%;
	}

	.first-row h3,
	.second-row h3,
	.third-row h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
		margin: 30px auto 20px auto;
	}

	.first-row h1,
	.second-row h1,
	.third-row h1 {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 30px;
		color: #626262;
		margin: 0 auto 40px auto;
	}
		
	.first-row p,
	.second-row p,
	.third-row p {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.6;
		color: #626262;
	}
	/* ----- Форма подписки ----- */
	.newsletter {
		background-color: #f0f0f0;
		padding-bottom: 60px;
		margin-bottom: 100px;
		text-align: center;
	}

		.newsletter h1 {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 30px;
			color: #333;
			margin: 0 auto 80px auto;
			padding-top: 78px;
		}

		.subscribe {
			position: relative;
			max-width: 420px;
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.subscribe-input {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 14px;
			color: #626262;
			width: 360px;
			border: none;
			/*outline: none; /* убирает свечение вокруг поля ввода при фокусе */
			border-bottom: 1px solid #000;
			background-color: #f0f0f0;
			padding-bottom: 10px;
			box-sizing: border-box;
		}

		.subscribe-img {
			position: absolute;
			left: 354px;
		}
	/* ----- /Форма подписки ----- */
/* ---------- /Второй блок: сетка, форма подписки ---------- */

/* ---------- Кнопка more ---------- */
	.load-more {
		text-align: center;
		margin-top: 80px; 
	}

		a.more {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 20px;
			color: #626262;
			border: 1px solid #626262;
			display: inline-block;
			text-decoration: none;
			padding: 20px 38px;
			transition: all 0.2s linear;
		}

		a.more:hover {
			text-decoration: none;
			background-color: #f0f0f0;
			color: #bbb7db;
			border-color: #cfcfcf;
		}
/* ---------- /Кнопка more ---------- */

/* ---------- Пространство перед футером в соответствии с макетом ---------- */
	.air-block {
		visibility: hidden;
	}
/* ---------- /Пространство перед футером в соответствии с макетом ---------- */

/* ---------- Footer ---------- */
	footer {
		background-color: #f0f0f0;
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		color: #000;
	}

	.footer-flex {
		display: flex;
		justify-content: space-between;
		padding: 24px 0;
	}

	.privacy {
		max-width: 550px;
		min-width: 250px;
		/*flex: 2;*/
	}

	.privacy p>span {
		font-weight: 600;
	}

	.privacy a {
		text-decoration: none;
		font-weight: 600;
		color: #000;
	}

	.privacy a:hover {
		text-decoration: none;
		color: #bbb7db;
	}

	.social {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		/*flex: 1;*/
	}

	.social>p {
		padding-left: 40px;
	}

	.social li {
		list-style-type: none;
		margin: 0 15px 0 0;
	}
	
	.social-icons {
		display: flex;
		align-items: center;
		padding: 0 50px 0 20px;
	}
/* ---------- /Footer ---------- */