/*------- Класс для отображения боковых границ основного блока -----*/	
	.co1ntent {
		border-right: 1px solid #000; border-left: 1px solid #000;
	}
/* ------- Класс для отображения боковых границ основного блока ----- */

/* ------- Класс для скрытия элементов разметки ----- */

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
 	}
 
/* ------- /Класс для скрытия элементов разметки ----- */
 
/* ---------- Основная разметка ---------- */
	html {
		box-sizing: border-box;
	}

	body {
		background-color: #fff;
	}

	.content {
		max-width: 1200px;
		margin: 0 auto;
	}
/* Временно для разметки */
	/*
	.header-container {
		border: 2px solid red;
	}

	.main_header-logo,
	.main_menu,
	.main_foto {
		border: 2px solid green;
	}

	.flex-item-1 {
		border: 2px solid #970e09;
	}

	.flex-item-2 {
		border: 2px solid #970e06;
	}

	.flex-item-3 {
		border: 2px solid #970e03;
	}

	.flex-item-4 {
		border: 2px solid #970e00;
	}

	.privacy,
	.social,
	.social-icons {
		border: 1px solid lightseagreen;
	}

	.subscribe,
	.subscribe-img {
		border: 2px solid mediumslateblue;
	}

	section {
		border: 2px solid orange;
	}

	article {
		border: 2px solid yellowgreen;
	}

	h1, h3, p {
		border: 1px solid slateblue;
	}

	footer {
		border: 2px solid black;
	}

	.footer-flex {
		border: 2px dotted darkblue;
	}
	
/* /Временно для разметки */

/* ---------- Шапка, навигация ---------- */

	.main_header-logo {
		font-family: "Inconsolata", monospace;
		font-size: 30px;
		letter-spacing: 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: #000;
		margin: 70px auto 70px 70px;
	}

	.main_header-logo a {
		text-decoration: none;
		color: #000;
	}

	.main_header-logo a:hover {
		color: #000;
	}

	nav {
		margin-right: 70px;
	}

	.main_menu li  {
		font-family: "Playfair Display", serif;
		font-size: 14px;
		text-transform: uppercase;
		list-style-type: none;
		color: #626262;
		margin: 0 70px 0 70px;
	}

	.main_menu li:last-child {
		margin-right: 0;
	}
	
	.main_menu li a {
		text-decoration: none;
		color: #626262;
	}

	.main_menu li a:hover {
		text-decoration: none;
		color: #bbb7db;
	}

	.main_foto {
		margin: 0 70px 50px 70px;
	}

	.main_foto img {
		max-width: 100%;
	}

/* ---------- /Шапка, навигация ---------- */

/* ---------- Шапка, навигация flex ---------- */
	
	.header-container {
		/*height: 160px;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.main_menu {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
	}

/* ---------- /Шапка, навигация flex ---------- */
	
/* ---------- Первый блок: основной пост ---------- */
	
	/* ---------- Делаем элемент черно-белым ---------- */
	.grayscale { 
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
		filter: gray; /* IE 6-9 */
		-webkit-filter: grayscale(1);
		transition: all 0.2s linear;
	}
	/* ---------- /Делаем элемент черно-белым ---------- */
	/* ---------- Делаем элемент цветным принаведении курсора ---------- */
	.grayscale:hover { 
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: none;
		-webkit-filter: grayscale(0);
	}
	/* ---------- /Делаем элемент цветным принаведении курсора ---------- */

	.main_post {
		max-width: 900px;
		min-width: 320px;
		margin: 0 150px;
	}

		.main_post h3 {
			font-family: "Ubuntu", sans-serif;
			font-weight: 300;
			font-size: 14px;
			text-transform: uppercase;
			color: #b4ad9e;
			margin: 50px auto 30px auto;
		}

		.main_post h1 {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 30px;
			color: #626262;
			margin: 0 auto 50px auto;
		}

		.main_post p {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.6;
			color: #626262;
		}

		.comment {
			font-size: 14px;
			margin: 50px auto 120px auto;
		}

			.comment>a {
				font-family: "Ubuntu", sans-serif;
				font-weight: 400;
				text-transform: uppercase;
				text-decoration: none;
				color: #b4ad9e;
			}

			.comment>a:hover {
				text-decoration: none;
				color: #bbb7db;
			}
/* ---------- /Первый блок: основной пост ---------- */

/* ---------- Второй блок: сетка, форма подписки ---------- */

	.flex-container {
		display: flex;
		flex-flow: column nowrap;
	}

	.flex-item-1,
	.flex-item-2 {
		order: -1;
	}

	.flex-item-4 {
		order: 0;
	}

	.flex-item-3 {
		order: 1;
	}

	.first-row,
	.second-row,
	.third-row {
		max-width: 900px;
		margin-bottom: 120px;
		display: flex;
		justify-content: space-between;
	}

	.first-row article,
	.second-row article,
	.third-row article {
		 width: 420px;
	}

	.first-row img,
	.second-row img,
	.third-row img {
		max-width: 100%;
	}

	.first-row h3,
	.second-row h3,
	.third-row h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
		margin: 30px auto 20px auto;
	}

	.first-row h1,
	.second-row h1,
	.third-row h1 {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 30px;
		color: #626262;
		margin: 0 auto 40px auto;
	}
		
	.first-row p,
	.second-row p,
	.third-row p {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.6;
		color: #626262;
	}
	/* ----- Форма подписки ----- */
	.newsletter {
		background-color: #f0f0f0;
		padding-bottom: 60px;
		margin-bottom: 100px;
		text-align: center;
	}

		.newsletter h1 {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 30px;
			color: #333;
			margin: 0 auto 80px auto;
			padding-top: 78px;
		}

		.subscribe {
			position: relative;
			max-width: 420px;
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.subscribe-input {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 14px;
			color: #626262;
			width: 360px;
			border: none;
			/*outline: none; /* убирает свечение вокруг поля ввода при фокусе */
			border-bottom: 1px solid #000;
			background-color: #f0f0f0;
			padding-bottom: 10px;
			box-sizing: border-box;
		}

		.subscribe-img {
			position: absolute;
			left: 354px;
		}
	/* ----- /Форма подписки ----- */
/* ---------- /Второй блок: сетка, форма подписки ---------- */

/* ---------- Кнопка more ---------- */
	.load-more {
		text-align: center;
		margin-top: 80px;
		margin-bottom: 200px;
	}

		a.more {
			font-family: "Playfair Display", serif;
			font-weight: 400;
			font-size: 20px;
			color: #626262;
			border: 1px solid #626262;
			display: inline-block;
			text-decoration: none;
			padding: 20px 38px;
			transition: all 0.2s linear;
		}

		a.more:hover {
			text-decoration: none;
			background-color: #f0f0f0;
			color: #bbb7db;
			border-color: #cfcfcf;
		}
/* ---------- /Кнопка more ---------- */

/* ---------- Первый блок: вторая страница ---------- */

	.flex-container-big {
		display: flex;
	}

	.content-min-left {
		max-width: 660px;
		box-sizing: border-box;
		margin-left: 150px;
		margin-bottom: 100px;
	}

	.content-min-right {
		max-width: 270px; /* 320px */
		box-sizing: border-box;
		margin-right: 70px;
	}

	.main_post-1 p {
		padding-bottom: 60px;
	}

	.main_post-1 p span {
		font-weight: bold;
	}

	.main_post-1 img {
		max-width: 100%;
		margin-bottom: 50px;
	}

	.quote {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		font-style: italic;
		line-height: 1.6;
		color: #626262;
	}

	.quote blockquote {
		margin: 14px 20px;
	}

	.about img,
	.banner img {
		max-width: 100%;
	}

	.about h1 {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 24px;
		color: #626262;
	}

	.about p {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.6;
		color: #626262;
	}

	.sidebar_social-icons {
		display: flex;
		justify-content: flex-start;
		list-style-type: none;
		padding-left: 0;
	}

	.sidebar_social-icons img {
		padding: 0 7.5px;
	}

	.first-item img {
		padding-left: 0;
	}

	.top-post h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
		margin: 50px auto 30px auto;
	}

	.posts ul li {
		color: #626262;
	}

	.posts ul li a {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.6;
		text-decoration: none;
		color: #626262;
	}

	.posts ul li a:hover {
		text-decoration: none;
		color: #bbb7db;
	}

	.posts ul li p {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 12px;
		text-transform: uppercase;
		color: #b4ad9e;
	}

	.banner {
		margin-top: 40px;
	}

	.share-block h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
	}

	.flex-container-min-1 {
		display: flex;
		justify-content: flex-end;
	}

	.social-icons1 {
		list-style-type: none;
		display: flex;
		align-items: flex-end;
		padding-left: 20px;
	}

	.social-icons1 li a {
		margin: 0 10px;
	}

	.block-post {
		background-color: #f0f0f0;
	}

	.more_posts h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
		margin-left: 150px;
	}

	.more_posts-flex {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}

	.more_posts-flex article {
		margin: 20px;
	}

	.more_posts-flex article:first-child {
		margin-left: 150px;
	}

	.more_posts-flex article:last-child {
		margin-right: 150px;
	}

	.more_posts-flex img {
		max-width: 100%;
	}

	.more_posts-flex h1 {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 20px;
		color: #626262;
	}

	.comments {
		/*max-width: 900px;*/
	}

	.comments h3 {
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #b4ad9e;
		margin-left: 150px;
	}

	.comments-block {
		display: flex;
		align-items: center;
		margin-left: 150px;
		margin-right: 150px;
	}

	.comments-block p {
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.6;
		color: #626262;
	}

	.comments-block h3 {
		margin-top: 30px;
	}

	.connected {
		display: flex;
		justify-content: flex-end;
		margin-right: 150px;
	}

	textarea {
		/*width: 750px;
		height: 70px;*/
		resize: none;
		font-family: "Ubuntu", sans-serif;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #000000;
		border-radius: 5px;
	}

	textarea::-webkit-input-placeholder {
		color: #c8c8c8;
		padding-left: 30px;
		padding-top: 15px;
	}

	textarea::-moz-placeholder {
		color: #c8c8c8;
	}

	textarea:-ms-input-placeholder {
	
	}

	textarea:-moz-placeholder {
	
	}

	.discuss p span {
		font-weight: bold;
	}

	.avatar {
		border: 1px solid orangered;
		margin-right: 40px;
	}
/* ---------- /Первый блок: вторая страница ---------- */


/* ---------- Пространство перед футером в соответствии с макетом ---------- */
	/*.air-block {
		visibility: hidden;
	}
/* ---------- /Пространство перед футером в соответствии с макетом ---------- */

/* ---------- Footer ---------- */
	footer {
		background-color: #f0f0f0;
		font-family: "Playfair Display", serif;
		font-weight: 400;
		font-size: 14px;
		color: #000;
	}

	.footer-flex {
		display: flex;
		justify-content: space-between;
		padding: 24px 0;
	}

	.privacy {
		max-width: 550px;
		min-width: 250px;
		margin-left: 150px;
		/*flex: 2;*/
	}

	.privacy p>span {
		font-weight: 600;
	}

	.privacy a {
		text-decoration: none;
		font-weight: 600;
		color: #000;
	}

	.privacy a:hover {
		text-decoration: none;
		color: #bbb7db;
	}

	.social {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 60px;
		/*flex: 1;*/
	}

	.social>p {
		padding-left: 40px;
	}

	.social li {
		list-style-type: none;
		margin: 0 15px 0 0;
	}
	
	.social-icons {
		display: flex;
		align-items: center;
		padding: 0 10px 0 20px;
	}
/* ---------- /Footer ---------- */

/* ---------- Адаптив ---------- */
	@media screen and (max-width:1000px) {
		.main_header-logo {
			margin-right: 70px;
		}

		nav {
			margin-right: 70px;
		}

		.main_menu {
			padding-left: 0;
		}

		.main_menu li {
			margin: 0 50px;
		}

		.main_menu li:last-child {
			margin-right: 0;
		}
	}

	@media screen and (max-width:850px) {
		.main_header-logo {
			font-size: 26px;
			letter-spacing: 8px;
			margin: 50px 20px 50px 70px;
		}

		.main_menu li {
			margin: 0 40px;
			font-size: 12px;
		}
	
		.main_post h3 {
			font-size: 12px;
			margin: 40px auto 20px auto;
		}
	
		.main_post h1 {
			font-size: 26px;
			margin: 0 auto 40px auto;
		}
	
		.main_post p {
			font-size: 12px;
			line-height: 1.6;
		}
	
		.comment {
			font-size: 12px;
			margin: 40px auto 80px auto;
		}

		.first-row,
		.second-row,
		.third-row {
			margin-bottom: 70px;
		}

		.first-row article,
		.second-row article,
		.third-row article {
			margin: 0 35px;
		}

		.first-row h3,
		.second-row h3,
		.third-row h3 {
			font-size: 12px;
			margin: 20px auto 10px auto;
		}

		.first-row h1,
		.second-row h1,
		.third-row h1 {
			font-size: 26px;
			margin: 0 auto 30px auto;
		}
		
		.first-row p,
		.second-row p,
		.third-row p {
			font-size: 12px;
		}

		.privacy {
			margin-left: 75px;
		}
	}

	@media screen and (max-width:700px) {
		.main_header-logo {
			font-size: 24px;
			letter-spacing: 6px;
			margin: 30px 20px 30px 50px;
		}

		nav {
			margin-right: 50px;
		}

		.main_menu {
			margin-left: 50px;
			flex-wrap: nowrap;
		}

		.main_menu li {
			margin: 0 30px;
			font-size: 12px;
		}

		.main_menu li:first-child {
			margin-left: 0;
		}

		.main_foto {
			margin: 0 50px 30px 50px;
		}

		.main_post {
			margin: 0 50px;
		}
	
		.main_post h3 {
			font-size: 12px;
			margin: 40px auto 20px auto;
		}
	
		.main_post h1 {
			font-size: 22px;
			margin: 0 auto 20px auto;
		}
	
		.main_post p {
			font-size: 12px;
		}
	
		.comment {
			font-size: 12px;
			margin: 20px auto 40px auto;
		}

		.first-row,
		.second-row,
		.third-row {
			margin-bottom: 40px;
		}

		.first-row article,
		.second-row article,
		.third-row article {
			margin: 0 25px;
		}

		.first-row article:first-child,
		.second-row article:first-child,
		.third-row article:first-child {
			margin-left: 50px;
		}

		.first-row article:last-child,
		.second-row article:last-child,
		.third-row article:last-child {
			margin-right: 50px;
		}

		.first-row h3,
		.second-row h3,
		.third-row h3 {
			font-size: 12px;
			margin: 20px auto 10px auto;
		}

		.first-row h1,
		.second-row h1,
		.third-row h1 {
			font-size: 22px;
			margin: 0 auto 20px auto;
		}

		.newsletter {
			margin-bottom: 60px;
		}
		
		.newsletter h1 {
			font-size: 22px;
			margin-bottom: 0;
			padding: 35px 0;
		}

		.subscribe {
			position: relative;
			max-width: 320px;
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.subscribe-input {
			width: 280px;
			box-sizing: border-box;
		}

		.subscribe-img {
			position: absolute;
			left: 265px;
		}

		.footer-flex {
			flex-wrap: wrap;
		}

		.privacy,
		.social {
			margin: 0 50px;
		}

		.social p {
			padding-left: 0;
		}
	}

	@media screen and (max-width:480px) { 
		.header-container {
			display: block;
		}
		
		.main_header-logo {
			font-size: 20px;
			letter-spacing: 4px;
			margin: 20px 30px 10px 30px;
		}

		nav {
			margin: 10px 30px;
		}

		.main_menu {
			margin: 10px 0;
			flex-wrap: wrap;
		}

		.main_menu li {
			margin: 0 24px;
			font-size: 11px;
		}

		.main_menu li:first-child {
			margin-left: 0;
		}

		.main_menu li:last-child {
			margin-right: 0;
		}

		.main_foto {
			margin: 0 30px 15px 30px;
		}

		.main_post {
			margin: 0 30px;
			min-width: auto;
		}
	
		.main_post h3 {
			font-size: 12px;
			margin: 20px auto 10px auto;
		}
	
		.main_post h1 {
			font-size: 22px;
			margin: 0 auto 20px auto;
		}
	
		.main_post p {
			font-size: 12px;
		}
	
		.comment {
			font-size: 10px;
			margin: 10px auto 20px auto;
		}

		.flex-container {
			display: block;
		}
		
		.first-row,
		.second-row,
		.third-row {
			display: block;
			margin-bottom: 20px;
		}
		
		.first-row article,
		.second-row article,
		.third-row article {
			width: auto;
			margin: 25px 30px;
		}

		.first-row article:first-child,
		.second-row article:first-child,
		.third-row article:first-child {
			margin-left: 30px;
		}

		.first-row article:last-child,
		.second-row article:last-child,
		.third-row article:last-child {
			margin-right: 30px;
		}

		.first-row h3,
		.second-row h3,
		.third-row h3 {
			font-size: 12px;
			margin: 20px auto 10px auto;
		}

		.first-row h1,
		.second-row h1,
		.third-row h1 {
			font-size: 22px;
			margin: 0 auto 20px auto;
		}
		
		.newsletter {
			margin-bottom: 60px;
		}
		
		.newsletter h1 {
			font-size: 22px;
			margin-bottom: 0;
			padding: 35px 0;
		}

		.subscribe {
			position: relative;
			max-width: 320px;
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.subscribe-input {
			width: 280px;
			box-sizing: border-box;
		}

		.subscribe-img {
			position: absolute;
			left: 265px;
		}

		.load-more {
			margin-bottom: 120px;
		}

		.footer-flex {
			flex-wrap: wrap;
		}

		.privacy,
		.social {
			margin: 0 30px;
		}

		.privacy p {
			font-size: 12px;
		}

		.social p {
			font-size: 12px;
			padding-left: 0;
		}
	}

	/*@media screen and (max-width:320px) { 		
		.main_header-logo {
			margin: 20px 20px 10px 20px;
		}

		nav {
			margin: 10px 20px;
		}

		.main_menu li {
			margin: 0 10px;
			font-size: 11px;
		}

		.main_foto {
			margin: 0 20px 15px 20px;
		}

		.main_post {
			margin: 0 20px;
			min-width: auto;
		}
		
		.first-row article,
		.second-row article,
		.third-row article {
			width: auto;
			margin: 20px 20px;
		}

		.first-row article:first-child,
		.second-row article:first-child,
		.third-row article:first-child {
			margin-left: 20px;
		}

		.first-row article:last-child,
		.second-row article:last-child,
		.third-row article:last-child {
			margin-right: 20px;
		}
		
		.newsletter {
			margin-bottom: 40px;
		}
		
		.newsletter h1 {
			font-size: 20px;
			margin-bottom: 0;
			padding: 30px 0;
		}

		.subscribe {
			position: relative;
			max-width: 320px;
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.subscribe-input {
			width: 240px;
			box-sizing: border-box;
		}

		.subscribe-img {
			position: absolute;
			left: 240px;
		}

		.footer-flex {
			flex-wrap: wrap;
		}

		.privacy,
		.social {
			margin: 0 20px;
		}
	}

/* ---------- /Адаптив ---------- */