/*---------- Подключаем шрифты ----------*/
/*---------- font-family: '', sans-serif; ----------*/

@font-face {
    font-family: 'Roboto';
	src: url('../fonts/web/Roboto.woff') format('woff'),
    url('../fonts/web/Roboto.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
	src: url('../fonts/web/Robotobold.woff') format('woff'),
    url('../fonts/web/Robotobold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
	src: url('../fonts/web/Robotomedium.woff') format('woff'),
    url('../fonts/web/Robotomedium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Oswald';
	src: url('../fonts/web/Oswaldmedium.woff') format('woff'),
    url('../fonts/web/Oswaldmedium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

/*---------- Основная разметка ----------*/
html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

a {
    text-decoration: none;
}

/*---------- Шапка и Первый блок ----------*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;

    padding: 20px 150px 80px;
}

.navigation {
    margin-right: 120px;
}

.site-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-navigation li {
    margin-right: 30px;
}

.site-navigation li a {
    font-size: 16px;
    color: #191919;
    font-weight: 500;
}

.site-navigation li a:hover,
.site-navigation li a:focus {
    border-bottom: 2px solid #254279;
}
    /*----- Выпадающее меню -----*/
        ul.submenu {
            display: none;
            position: absolute;
            width: 120px;
            padding: 0;
        }

        ul.submenu > li {
            display: block;
        }

        ul.submenu > li > a {
            display: block;
            padding: 2px 0;
            color: #000;
            text-decoration: none;
        }

        ul.submenu > li > a:hover {
            border-bottom: none;
            color: #254279;
        }

        ul.site-navigation > li:hover > ul.submenu {
            display: block;
        }
    /*----- Выпадающее меню -----*/

.right-header {
    display: flex;
    align-items: center;
}

.right-header-element {
    margin-right: 10px;
}

.right-header-element span {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.right-header-element--callback {
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(0,0,0,0.17);
    background-color: #cd3a0d;
}

.right-header-element--callback:hover {
    box-shadow: 0 0 25px rgba(205, 58, 12, 0.7);
    transition: all .2s linear;
    cursor: pointer;
}

.right-header-element--callback a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.left-block h2 {
    font-size: 25px;
    color: #1f2837;
    font-weight: 400;
    padding: 20px 0;
}

.left-block h1 {
    font-size: 50px;
    color: #191919;
    font-weight: 500;
    padding: 20px 0;
}

.advantages {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff;

    /*position: fixed;
    left: 20%;
    z-index: 50;*/
}

.advantages ul {
    display: flex;
    list-style: none;
}

/*---------- Шапка и блок Aside ----------*/
.some-class {
    background-color: #fff;
}

.some-class-2 {
    box-shadow: -25px 0 68px rgba(0, 0, 0, 0.33);
    background-color: #004b9a;
}

.right-block-wrapper {
    box-shadow: -25px 0 68px rgba(0, 0, 0, 0.33);
    background-color: #004b9a;
}

.right-block .right-header {
    padding: 20px 150px 80px;
}

.right-block .right-header .right-header-element {
    margin-right: 25px;
}

.right-block .right-header .right-header-element--callback {
    margin-left: 20px;
}

/*---------- Второй блок ----------*/
.some-class-3 {
    background-color: #004b9a;
}

/*---------- Третий блок ----------*/


/*---------- Четвертый блок ----------*/


/*---------- Footer ----------*/
footer {

}

@media screen and (max-width:1200px) and (min-width:1025px) {

}

@media screen and (max-width:1024px) and (min-width:993px) {
    
}

@media screen and (max-width:992px) and (min-width:769px) {
    
}

@media screen and (max-width:768px) and (min-width:426px) {
    
}

@media screen and (max-width:425px) and (min-width:320px) {
    
}