@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000
}

a {
    text-decoration: none
}

.filter ul,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

button {
    border: 0;
    background: 0 0
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

.main-header {
    margin: 0;
    min-width: 1200px;
    padding: 50px 0 0;
    background-color: #eee
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1160px;
    min-height: 100px;
    position: relative
}

.main-navigation .main-header-logo {
    position: absolute
}

.main-navigation .wpapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 28px;
    margin-left: 362px;
    text-transform: uppercase
}

.main-navigation .site-navigation {
    margin: 0;
    padding: 0;
    list-style: none
}

.main-navigation .basket {
    padding: 0;
    list-style: none
}

.main-navigation .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.site-navigation li {
    margin-right: 46px
}

.basket a,
.site-navigation a {
    color: #000;
    font-weight: 500
}

.basket a:hover,
.site-navigation a:hover {
    color: #fb565a
}

.basket a:focus,
.site-navigation a:focus {
    color: #bdbdbd
}

.site-navigation .active {
    border-bottom: 2px solid #fb565a;
    padding-bottom: 8px
}

.main-navigation .basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 auto
}

.basket svg {
    margin-right: 25px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    fill: #a6a6a6
}

main {
    min-width: 1200px
}

.slider {
    position: relative;
    background-color: #eee
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer
}

.slider-controls label::after {
    content: "";
    width: 18px;
    height: 18px;
    background: #fff;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    border-radius: 50%
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%
}

.slider-item {
    display: none;
    padding: 42px 0 80px
}

.slider-item h3 {
    padding: 0;
    margin: 0 0 27px;
    max-width: 600px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500
}

.slider-item p {
    max-width: 430px;
    margin: 0 0 38px
}

.slider-item:nth-child(1) {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 93% -16px
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 100% 0
}

.slider-item:nth-child(3) {
    background-image: url(../img/slide3.png);
    background-position: 100% 20px
}

#product-1:checked~.slider-list .slider-item:nth-child(1),
#product-2:checked~.slider-list .slider-item:nth-child(2),
#product-3:checked~.slider-list .slider-item:nth-child(3) {
    display: block
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.button {
    display: block;
    width: 240px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: 0
}

.button:hover {
    background-color: #e74246
}

.button:focus {
    color: rgba(255, 255, 255, .3);
    background-color: #d7373b;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, .1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, .1) inset
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    border-bottom: 2px solid #eee
}

.services-item:last-child {
    margin-right: 60px
}

.services h3 {
    padding: 0;
    margin: 19px 0 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase
}

.services p {
    width: 275px;
    margin-bottom: 33px
}

.button-greeen,
.button-red,
.button-yellow {
    width: 160px;
    padding: 15px 0
}

.button-greeen {
    background-color: #00ca74
}

.button-greeen:hover {
    background-color: #00bc6c
}

.button-greeen:focus {
    background-color: #00aa62
}

.button-yellow {
    background-color: #efc84a
}

.button-yellow:hover {
    background-color: #eab534
}

.button-yellow:focus {
    background-color: #e5a722
}

.about-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 39px 0 74px;
    border-bottom: 2px solid #eee
}

.description {
    width: 660px
}

.description h2 {
    margin-bottom: 31px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500
}

.description h3 {
    margin-top: 40px;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase
}

.description-list {
    margin: 0;
    padding: 0 0 0 35px;
    list-style: none
}

.description-item {
    margin-bottom: 24px;
    position: relative
}

.description-item::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: -34px;
    top: 12px
}

.description-item:last-child {
    margin: 0
}

.statistics {
    width: 360px;
    margin-left: auto
}

.statistics b {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 50px
}

.statistics .percentages {
    letter-spacing: -2.5px;
    font-size: 48px;
    font-weight: 700;
    line-height: 10px;
    padding: 6px 21px 34px 0
}

.percentages {
    padding-right: 14px
}

.percentages:last-child {
    margin: 0
}

.percentages sup {
    font-size: 30px
}

.details {
    line-height: 18px
}

.partners .container {
    padding: 61px 0 19px;
    border-bottom: 2px solid #eee
}

.partners .partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0
}

.partners-item {
    position: relative
}

.partners-item:first-child {
    margin-right: 97px;
    margin-left: 31px
}

.partners-item:nth-child(2) {
    margin-top: -14px;
    margin-right: 103px
}

.partners-item:nth-child(2)::after {
    top: 16px;
    left: 252px
}

.partners-item:nth-child(3) {
    margin-right: 123px
}

.partners-item:nth-child(3)::after {
    left: 241px
}

.partners-item:last-child {
    margin-top: -8px
}

.partners-item::after {
    content: "";
    width: 2px;
    height: 52px;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 249px
}

.partners-item:last-child::after {
    display: none
}

.partners-item a {
    opacity: .2
}

.partners-item a:hover {
    opacity: 1
}

.partners-item a:focus {
    opacity: .1
}

.map .container {
    min-height: 230px;
    padding-top: 55px;
    z-index: 2
}

.map {
    margin-top: 80px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 50% 42%;
    background-size: cover;
    height: 420px
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 420px
}

.map .address {
    width: 297px;
    padding: 32px 10px 46px;
    background-color: #fff
}

.address h3 {
    margin-left: 38px
}

.address p {
    padding: 0 41px;
    margin-top: 24px;
    letter-spacing: .1px;
    line-height: 18px
}

.address span {
    margin-left: 41px
}

.button-address {
    width: 219px;
    margin-left: 40px;
    margin-top: 35px
}

.my-footer {
    padding-top: 66px
}

.my-footer .container,
.social-item,
.social-list,
.sorting ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.social-list {
    padding: 0;
    margin: 0 140px 0 0
}

.social-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e1e1e1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px
}

.social-item:last-child {
    margin-right: 0
}

.social-item:hover {
    background-color: #e74246
}

.social-item:focus {
    background-color: #d7373b
}

.social-button {
    padding: 30px
}

.social-button:focus path {
    fill: #e37376
}

.my-footer h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    padding: 0;
    margin: 4px 0 10px
}

.my-footer span {
    line-height: 22px
}

.modal {
    position: fixed;
    background-color: #fff;
    z-index: 5;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7)
}

.modal-login {
    display: none;
    top: -20px;
    margin-left: 282px;
    width: 760px;
    z-index: 5;
    padding: 65px 100px
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer
}

.modal-close::after,
.modal-close::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    top: 10px;
    left: 2px;
    background-color: #fecccd
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.modal-close:hover::after,
.modal-close:hover::before {
    background-color: #fb565a
}

.modal-close:active::after,
.modal-close:active::before {
    background-color: #fee
}

.login-form {
    font-family: inherit
}

.modal-login h2 {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500
}

.login-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

label {
    padding-bottom: 5px
}

.login-form input,
.login-form textarea {
    border: 2px solid #d7dcde;
    border-radius: 3px
}

.login-form input {
    width: 328px;
    height: 46px;
    padding: 0 14px
}

.login-form textarea {
    padding: 10px 13px
}

.login-form input:hover,
.login-form textarea:hover {
    border: 2px solid #b4b9bb
}

.login-form input:focus,
.login-form textarea:focus {
    outline: 0;
    color: #444;
    border: 2px solid #000
}

.login-form input:invalid {
    color: #e74246;
    border: 2px solid #e74246
}

.login-form .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

textarea {
    height: 95px
}

.login-form button {
    margin-top: 46px;
    margin-bottom: 18px;
    width: 260px
}

.modal-show {
    -webkit-animation: bounce .6s;
    animation: bounce .6s
}

.modal-show,
.modal-window .modal-login {
    display: block
}

.catalog h1 {
    font-size: 55px;
    font-weight: 500;
    padding-top: 67px;
    text-align: center
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 20px
}

.filter {
    width: 260px
}

.range {
    position: relative;
    padding: 40px 0 40px 18px;
    margin-top: 46px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 3px
}

.range .line {
    height: 2px;
    width: 218px;
    background-color: #d7dcde
}

.range .line-left {
    position: absolute;
    top: 40px;
    height: 2px;
    width: 145px;
    background-color: #00ca74
}

.range-left img,
.range-right img {
    position: absolute;
    top: 30px;
    left: 17px;
    cursor: pointer
}

.range-right img {
    left: 159px
}

.cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 11px
}

.cost-range {
    margin: 0;
    padding: 0
}

.cost-range label {
    margin-right: 8px
}

.cost input {
    font-family: inherit;
    width: 66px;
    padding: 8px 5px;
    text-align: center;
    background-color: #eee;
    border: 2px solid #eee;
    border-radius: 3px
}

.filter h2,
.filter legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase
}

.filter h2 {
    margin-top: 0;
    letter-spacing: .5px
}

.filter legend {
    font-weight: 700;
    margin-bottom: 25px
}

fieldset .grid {
    margin-bottom: 13px
}

fieldset:nth-child(2) {
    margin-top: 55px;
    margin-bottom: 38px
}

.filter-option label {
    color: #283136
}

.filter-option fieldset:last-of-type {
    margin-bottom: 0
}

.net-option {
    margin-bottom: 11px
}

.features-item:last-child,
.net-option:last-child {
    margin-bottom: 0
}

.net-option label {
    position: relative;
    display: block;
    padding-left: 36px
}

.filter-input-radio+label::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    left: 1px;
    top: 0;
    border: 4px solid #a6a6a6;
    border-radius: 50%
}

.filter-input-radio:checked+label::after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    left: 8px;
    top: 7px;
    background-color: #a6a6a6;
    border: 1px solid #a6a6a6;
    border-radius: 50%
}

.features-item {
    margin-bottom: 16px
}

.features-item label {
    padding-left: 36px;
    position: relative
}

.filter-input-checkbox+label::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #a6a6a6;
    border-radius: 3px
}

.filter-input-checkbox:checked+label::after {
    content: "";
    width: 25px;
    height: 22px;
    position: absolute;
    left: 6px;
    top: -1px;
    background-image: url(../img/сheсkbox.svg);
    background-repeat: no-repeat
}

.filter button {
    width: 100%;
    border: 0;
    padding: 15px 0;
    margin-top: 50px;
    background-color: #eee;
    font-family: inherit
}

.filter button:hover {
    background-color: #dfdfdf
}

.filter button:focus {
    background-color: #d5d5d5;
    color: #c1c1c1;
    border-top: 3px solid #bfbfbf
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 760px
}

.sorting b {
    font-size: 18px;
    margin-right: 218px
}

.sorting a {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #cacaca
}

.sorting-item {
    margin-right: 25px
}

.sorting-item a:hover {
    color: #8d8d8d
}

.filter-input-radio+label:hover,
.sorting-item .active,
.sorting-item a:active {
    color: #000
}

.sorting-item:last-child {
    margin: 0
}

.container-wpapper,
.sorting-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0
}

.sorting-buttons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0
}

.sorting-buttons .button-down,
.sorting-buttons .button-up {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 18px 0 0;
    border-style: solid;
    border-width: 10px 5.5px 0;
    border-color: #010101 transparent transparent
}

.sorting-buttons .button-down:hover {
    border-color: #a6a6a6 transparent transparent
}

.sorting-buttons .button-down:active {
    border-color: #231f20 transparent transparent
}

.sorting-buttons .button-up {
    margin: 0;
    border-width: 0 5.5px 10px;
    border-color: transparent transparent #ededed
}

.sorting-buttons .button-up:hover {
    border-color: transparent transparent #a6a6a6
}

.sorting-buttons .button-up:active {
    border-color: transparent transparent #231f20
}

.container-wpapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px
}

.catalog-partners .container {
    max-width: 760px
}

.our-partners {
    margin-top: 55px
}

.our-partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.our-partners-item {
    position: relative;
    width: 360px;
    margin-bottom: 26px
}

.our-partners-item img {
    margin-top: -6px
}

.our-partners-item:not(:first-child) path {
    fill: #e9e9e9
}

.our-partners .description {
    width: 360px;
    min-height: 165px;
    text-align: center;
    padding: 24px 0 40px;
    background-color: #eee;
    position: absolute;
    bottom: 0
}

.catalog .description h3 {
    margin-top: 0;
    margin-bottom: -1px;
    font-size: 18px;
    line-height: 30px;
    color: #000
}

.catalog .description-text {
    padding: 0 78px;
    margin-bottom: 43px;
    line-height: 18px;
    color: #666
}

.our-partners-item:nth-child(2) .description-text {
    padding: 0 54px
}

.our-partners-item:nth-child(3) .description-text {
    padding: 0 83px
}

.our-partners-item:nth-child(5) .description-text {
    padding: 0 68px
}

.our-partners-item:last-child .description-text {
    padding: 0 71px
}

.our-partners-item:not(:first-child) .description {
    display: none
}

.our-partners-item:not(:first-child):hover .description {
    display: block
}

.our-partners-item:not(:first-child):hover path {
    fill: #4d4d4d
}

.description .price {
    background-color: #fb565a;
    border: 1px solid #fb565a;
    border-radius: 3px;
    color: #fff;
    line-height: 18px;
    padding: 13px 61px;
    cursor: pointer
}

.description .price:hover {
    background-color: #e74246
}

.description .price:active {
    background-color: #d7373b
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 44px
}

.pagination-item:not(:last-child) {
    margin-right: 10px
}

.pagination-item a {
    padding: 12px 18px;
    border: 3px solid #eee;
    background-color: #eee;
    color: #000;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500
}

.pagination-item a:hover {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf
}

.pagination-item a:active {
    color: #a9a9a9;
    background-color: #d5d5d5;
    border: 3px solid #d5d5d5;
    border-top-color: #bfbfbf
}

.pagination-item:last-child a {
    padding: 12px 75px
}

.pagination-item .active {
    background-color: #fff
}

.catalog .map {
    margin-top: 70px
}

.catalog .main-header {
    margin-bottom: 53px;
    min-height: 307px
}

.main-header-logo:hover path {
    fill: #303030
}

.main-header-logo:focus path {
    fill: #a6a6a6
}

.filter-input-radio+label:hover::before {
    border: 4px solid #4d4d4d
}

.filter-input-radio:checked+label:hover::after {
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d
}

.filter-input-radio:disabled+label {
    color: #ededed
}

.filter-input-radio:disabled+label::before {
    border: 4px solid #ededed
}

.filter-input-radio:checked:disabled+label::after {
    background-color: #ededed;
    border: 1px solid #ededed
}

.filter-input-checkbox+label:hover {
    color: #000
}

.filter-input-checkbox+label:hover::before {
    border: 2px solid #4d4d4d
}

.filter-input-checkbox:checked+label:hover::after {
    background-image: url(../img/сheсkbox-hover.svg)
}

.filter-input-checkbox:disabled+label {
    color: #ededed
}

.filter-input-checkbox:disabled+label::before {
    border: 2px solid #ededed
}

.filter-input-checkbox:checked:disabled+label::after {
    background-image: url(../img/сheсkbox-disabled.svg)
}

@media (max-width:1200px) {
    .map iframe {
        width: 1200px
    }
}